:root {
    /* === 1. COLORS === */
    --color-primary: hsl(292, 16%, 49%);
    --color-secondary: hsl(275, 100%, 97%);
    --color-white: hsl(0, 100%, 100%);

    --color-text1: hsl(292, 42%, 14%);

    /* === 2. TYPOGRAPHY === */
    --font-family: 'Work Sans', system-ui, -apple-system, sans-serif;

    --font-size-base: 1rem;     /* 16px */
    
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    --line-height-normal: 1.5;

    /* === 3. INDENTS AND DIMENSIONS === */
    --space-0: 0;
    --space-5: 1.5rem;    /* 24px */
    
    --border-radius-sm: 0.375rem;  /* 6px */
    --border-radius-base: 0.75rem; /* 12px */
    
    /* === 4. SHADOW === */
    --shadow-xl: 0 20px 25px rgba(0,0,0,0.15);
}


/* === Main === */
*, *::before, *::after {
    padding: var(--space-0);
    margin: var(--space-0);
    box-sizing: border-box;
}

body {
    background-image: url('assets/images/background-pattern-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--color-secondary);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    min-height: 100vh;
    padding: var(--space-5);
    display: grid;
    place-items: center;
}

.container {
    background-color: var(--color-white);
    border-radius: clamp(0.375rem, 0.284rem + 0.3883vw, 0.75rem);
    box-shadow: var(--shadow-xl);
    width: min(100%, 600px);
    padding: var(--space-5);
}


/* === HEADER === */
.faq-header {
    display: flex;
    align-items: center;
    margin-block-end: var(--space-5);
    column-gap: 1.75rem
}

h1 {
    font-size: clamp(2rem, 1.7573rem + 1.0356vw, 3rem);
    font-weight: var(--font-weight-bold);
    color: var(--color-text1);
}


/* === FAQS === */
.faq-item {
    margin-block: 1.5rem;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    border: 1px solid var(--color-secondary);
}

img {
    width: clamp(1.875rem, 1.7536rem + 0.5178vw, 2.375rem);
    height: clamp(1.875rem, 1.7536rem + 0.5178vw, 2.375rem);
    display: block;
    object-fit: cover;
}

button {
    border: none;
    display: block;
    background-color: inherit;
    color: var(--color-text1);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    text-align: start;
}

.faq-btn:hover {
    color: var(--color-primary);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.faq-img-btn:hover {
    animation: morphe 1s ease;
}

/* == FAQ ANSWER */
.faq-answer {
    margin-block: 1rem;
    opacity: 0.6;
    color: var(--color-text1);
}


/* === ANIMATIONS === */
@keyframes morphe {
    0% { transform: scale(1.2); }
    100% { transform: rotate(180deg); }
}


/* === DESTOP-media === */
@media (min-width: 64em) {
    body {
        background-image: url('assets/images/background-pattern-desktop.svg');
    }
}

/* === Dark-system === */
@media (prefers-color-scheme: dark) {
    body {
        background: #0b0b0b;
    }

    .container {
        background: #151515;
    }

    button {
        background-color: inherit;
        color: #ffffff;
    }

    .faq-answer {
        background: #1e1e1e;
        color: #cccccc;
    }

    .faq-icon {
        filter: brightness(1.1);
    }

    hr {
        border-color: #333;
    }
}